<ion-navbar *navbar>
  <ion-title>
    Add Candidate
  </ion-title>
</ion-navbar>

<ion-content class="addCandidateProfilePage">
  <ion-list inset>
    <form [ngFormModel]="form">

      <ion-input>
        <ion-label>Name</ion-label>
        <div>
          <input type="text" value="" required maxlength="30" ngControl="name">
          <div *ngIf="name.dirty && !name.valid">
            <p *ngIf="name.errors.required" class="error-text">Required</p>
            <p *ngIf="name.errors.pattern" class="error-text">Invalid</p>
          </div>
        </div>
      </ion-input>


      <ion-input>
        <ion-label>Experience</ion-label>
        <div>
          <input type="text" required ngControl="experience">
          <div *ngIf="experience.dirty && !experience.valid">
            <p *ngIf="experience.errors.required" class="error-text">Required</p>
            <p *ngIf="experience.errors.numeric" class="error-text">Invalid Input</p>
          </div>
        </div>
      </ion-input>

      <ion-input>
        <ion-label>Skills</ion-label>
      </ion-input>
      <ion-checkbox *ngFor="#skill of skills" [value]="skill">{{skill}}</ion-checkbox>
      <button (click)="submitData()" [disabled]="!form.valid" class="button button-full" full>Sumbit data</button>
    </form>
  </ion-list>

</ion-content>
